In [1]:
a= 10
if a==10 :
    print("this is my first condition")

this is my first condition

In [2]:
a=10
if a==11:
    print("this is my first condition")

In [4]:
a=10
if a>5:
    pass

In [5]:
a=10
if a>8:
    print("print this if condition is true")

print this if condition is true

In [6]:
a=10
if a<8:
    print("print if this condition is true")

In [9]:
a=10
if a!=11:
    print("my condition is false")
else :
    print("print this")

my condition is false

In [10]:
a=10
if a==11:
    print("my condition is false")
else :
    print("print this")

print this

In [12]:
a=10
if a==12:
    print("here we are trying to compare 10 with 12")
elif a==11:
    print("we are trying to compare 10 with 11")
else :
    print("if all the block will fail then do this")

if all the block will fail then do this

In [18]:
price= 500
if price>500:
    print("may b i will not be able to buy a jacket")
elif price<500:
    print("i will be able to buy jacket")
else price==500: 
    print("I buys a jacket")

SyntaxError: invalid syntax (1331664156.py, line 6)

In [19]:
price= 500
if price>500:
    print("may b i will not be able to buy a jacket")
elif price<500:
    print("i will be able to buy jacket")
elif price==500:
    print("for sure i will be able to buy ")
else: 
    print("i dont know")

for sure i will be able to buy

In [20]:
price>500

False

In [21]:
price<500

False

In [22]:
price==500

True

In [23]:
l=[1,2,3,4,5,6]

In [25]:
if 2 in l:
    print("try to perform task")
else :
    print("do not perform task")

try to perform task

In [26]:
l

[1, 2, 3, 4, 5, 6]

In [28]:
if 1 in l:
    print("try to do addition")
elif 2 in l:
    print("try to do subtraction")
elif 3 in 1:
    print("try to do multiplication")

try to do addition

In [13]:
if 1 in l:
    print("try to do addition")
elif 2 in l:
    print("try to do subtraction")
elif 3 in l:
    print("try to do multiplication")
if 4 in l:
    print("this is new statement")

NameError: name 'l' is not defined

In [1]:
a=400

In [2]:
b=input()

kjkuggfhhkh

In [3]:
b

'kjkuggfhhkh'

In [4]:
b=input()

400

In [5]:
b

'400'

In [6]:
type(b)

str

In [7]:
b=int(input())

765

In [ ]:
type(b)

In [1]:
ayan=int(input())

566

In [2]:
ayan

566

In [12]:
price=int(input())
if price<500:
    print("i will buy jacket")
    if price<400:
        print("i will be able to buy shirt")
    if price<300:
        print("i wil buy tshirt")
    else:
        print("i will not buy anything")
    if price<200:
            print("i will buy toy")
else:
    print("i wont be able buy anything with this price tag")
if price>500:
            print("lets try somethimg else")

600
i wont be able buy anything with this price tag
lets try somethimg else

In [22]:
marks=int(input())
if marks<600:
    print("NO GRE")
    if marks<500:
        print("TOFEL")
        if marks<400:
            print("try something else")
    else:
        print("You Got Tofel")
else:
    print("You Got GRE congratulations")

399
NO GRE
TOFEL
try something else

In [26]:
val=float(input("enter a floating number"))
if val>=0:
    if val==0:
        print("entered value is zero")
    else:
        print("enterd value is positive number")
else:
    print("enterd value is negative number")

enter a floating number-2.356
enterd value is negative number

In [29]:
a=10
if a<10 or a==10:
    print("try to do something")

try to do something

In [30]:
a=10
if a<10 and a==10:
    print("try to do something")

In [31]:
a="ayan"
if a=="ayan" and a=="ayan":
    print("this is ayan")

this is ayan

In [32]:
a=10
b=11
c=12
d=13
if a==9 and b==11 and c==12 and d==13:
    print("lets do something")

In [33]:
a=10
b=11
c=12
d=13
if a==9 or b==11 and c==12 and d==13:
    print("lets do something")

lets do something

In [34]:
d={"key1":"value", "key2":"ayan","key3":"ineuron"}

In [37]:
 d['key1']

'value'

In [38]:
if d['key1']=="value" and d['key2']=="ayan" and d['key3']=="ineuron":
    print("all values are verified")
    print(d.values())

all values are verified
dict_values(['value', 'ayan', 'ineuron'])

In [39]:
l=[1,2,3,4,5,"ayan",234.45]

In [40]:
l[0]

1

In [41]:
l[2:5]

[3, 4, 5]

In [42]:
for i in l:
    print(i)

1
2
3
4
5
ayan
234.45

In [3]:
l=[1,2,3,4,5,"ayan",234.45]

In [14]:
for i in l:
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [10]:
for i in l:
    if type(i)==int:
        print(i+1)
    elif type(i)== str:
        print(i+str(1))

2
3
4
5
6
ayan1

In [12]:
for i in l:
    if type(i)==int or type(i)== float:
        print(i+1)
    elif type(i)== str:
        print(i+str(1))

2
3
4
5
6
ayan1
235.45

In [15]:
l

[1, 2, 3, 4, 5, 'ayan', 234.45]

In [18]:
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i)

In [19]:
l1

[1, 2, 3, 4, 5]